.msgbox {
    padding: 10px 30px;
    border-radius: 5px;
    position: fixed;
    bottom: -100px;
    left: 50px;
    font-family: $font-avenir-roman;
    font-size: 14px;

    &.success {
        background-color: rgb(18, 194, 18);
        color: #ffffff;
        animation: show;
        animation-duration: 500ms;
        bottom: 80px;
    }

    &.error {
        background-color: rgb(247, 58, 58);
        color: #ffffff;
        animation: show;
        animation-duration: 500ms;
        bottom: 80px;
    }
}

@keyframes show {
    from {
        bottom: 0;
    }
    to {
        bottom: 80px;
    }
}
